<div class="p-5">
  <p>Start editing to see some magic happen :)</p>
  <ngx-datatable [rows]="customer.items" [limit]="list.maxResultCount" [count]="customer.totalCount" [list]="list"
    [footerHeight]='120' [headerHeight]="'auto'" [rowHeight]="'auto'" [selected]="selected" [selectionType]="'checkbox'"
    default>

    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
      [resizeable]="false">
      <ng-template ngx-datatable-header-template>
        <label class="datatable-checkbox">
          <input type="checkbox" [checked]="getHeaderChecked()" (change)="toggleAllRowsSelection($event)" />
        </label>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row" let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
        <label class="datatable-checkbox">
          <input type="checkbox" [checked]="getChecked(row)" (change)="onCheckboxChange($event, row)" />
        </label>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>